<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction1() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput1");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function myFunction2() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput2");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[5];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<!-- **********************************Page Container****************************************** -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->

    <strong> <h5>Filters</h5> </strong>

		 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Season" title="Type in a Season">
		<input type="text" id="myInput1" onkeyup="myFunction1()" placeholder="Enter Amount" title="Type in a name">
		<input type="text" id="myInput2" onkeyup="myFunction2()" placeholder="Entrepreneur Gender" title="Type in a name">
		<br>
		<hr>
    <!-- Right Column -->
    <div class="w3-twothird">
    	
		 <div class="w3-container">
<!-- <li><a href="#" data-toggle="modal" data-target="#modalRegister"> Register</a></li> -->
		  <table class="w3-table w3-striped" id="myTable">
		    <tr>
		      <th class="hide1">Season</th>
		      <th class="hide2">No. in Series</th>
		      <th class="hide3">Company</th>
		      <th class="hide4">Deal</th>
		      <th class="hide5">Industry</th>
		      <th class="hide6">Entrepreneur Gender</th>
		      <th class="hide7">Amount</th>
		      <th class="hide8">Equity</th>
		      <th class="hide9">Valuation</th>
		      <th class="hide10">Corcoran</th>
		      <th class="hide11">Cuban</th>
		      <th class="hide12">Greiner</th>
		      <th class="hide13">Herjavec</th>
		      <th class="hide14">John</th>
		      <th class="hide15">O'leary</th>
		      <th class="hide16">Harrington</th>
		      <th class="hide17">Guest</th>
		      <th class="hide18">Total sharks</th>
		    </tr>
		    <% AllShark.all.each do |row| %>
		    <tr>
		      <td class="hide1"> <%=  row['Season'] %> </td>
		      <td class="hide2"> <%=  row['no_in_series'] %> </td>
<td class="hide3"><a href="#" data-toggle="modal" data-target="#<%=  row['company'].to_s.gsub(/\s+/, "") %>"> 
	<%=  row['company'] %> </a> </td>
		      <td class="hide4"> <%=  row['Deal'] %> </td>
		      <td class="hide5"> <%=  row['Industry'] %> </td>
		      <td class="hide6"><%=  row['Entrepreneur_gender'] %> </td>
		      <td class="hide7"> <%=  row['amount'] %> </td>
		      <td class="hide8"> <%=  row['equity'] %> </td>
		      <td class="hide9"> <%=  row['valuation'] %> </td>
		      <td class="hide10"> <%=  row['corcoran'] %> </td>
		      <td class="hide11"> <%=  row['cuban'] %> </td>
		      <td class="hide12"> <%=  row['greiner'] %> </td>
		      <td class="hide13"> <%=  row['herjavec'] %> </td>
		      <td class="hide14"> <%=  row['john'] %> </td>
		      <td class="hide15"> <%=  row["oleary"] %> </td>
		      <td class="hide16"><%=  row['harrington'] %>  </td>
		      <td class="hide17"> <%=  row['guest'] %> </td>
		      <td class="hide18"> <%=  row['t_sharks'] %> </td>
		    </tr>

			<% end %>
		  </table>
		</div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
<% AllShark.all.each do |row1| %>
<div id="<%=  row1['company'].to_s.gsub(/\s+/, "").to_s %>" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	        
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title" style="text-align: center"><%=  row1['company'] %></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
		            </div>
		            <div class="modal-body">
		            	<table>
		            		<% AllShark.all.each do |row2| %>
		            		<% if row1['company'].to_s == row2['company'].to_s %>
		            		<tr> 
		            			  <td > <%=  row2['Season'] %> </td>
							      <td > <%=  row2['no_in_series'] %> </td>
								  <td ><%=  row2['company'] %></td>
							      <td > <%=  row2['Deal'] %> </td>
							      <td > <%=  row2['Industry'] %> </td>
							      <td ><%=  row2['Entrepreneur_gender'] %> </td>
							      <td > <%=  row2['amount'] %> </td>
							      <td > <%=  row2['equity'] %> </td>
							      <td > <%=  row2['valuation'] %> </td>
							      <td > <%=  row2['corcoran'] %> </td>
							      <td > <%=  row2['cuban'] %> </td>
							      <td > <%=  row2['greiner'] %> </td>
							      <td > <%=  row2['herjavec'] %> </td>
							      <td > <%=  row2['john'] %> </td>
							      <td > <%=  row2["oleary"] %> </td>
							      <td ><%=  row2['harrington'] %>  </td>
							      <td > <%=  row2['guest'] %> </td>
							      <td > <%=  row2['t_sharks'] %> </td>
							</tr>
							<% end %>
		            	<% end %>
		            	</table>
		            	
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            </div>
		        </div>
		    </div>
		</div>
		<% end %>