<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @all_shark.Season %>
</p>

<p>
  <strong>No in series:</strong>
  <%= @all_shark.no_in_series %>
</p>

<p>
  <strong>Company:</strong>
  <%= @all_shark.company %>
</p>

<p>
  <strong>Deal:</strong>
  <%= @all_shark.Deal %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @all_shark.Industry %>
</p>

<p>
  <strong>Entrepreneur gender:</strong>
  <%= @all_shark.Entrepreneur_gender %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @all_shark.amount %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @all_shark.equity %>
</p>

<p>
  <strong>Valuation:</strong>
  <%= @all_shark.valuation %>
</p>

<p>
  <strong>Corcoran:</strong>
  <%= @all_shark.corcoran %>
</p>

<p>
  <strong>Cuban:</strong>
  <%= @all_shark.cuban %>
</p>

<p>
  <strong>Greiner:</strong>
  <%= @all_shark.greiner %>
</p>

<p>
  <strong>Herjavec:</strong>
  <%= @all_shark.herjavec %>
</p>

<p>
  <strong>John:</strong>
  <%= @all_shark.john %>
</p>

<p>
  <strong>Oleary:</strong>
  <%= @all_shark.oleary %>
</p>

<p>
  <strong>Harrington:</strong>
  <%= @all_shark.harrington %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @all_shark.guest %>
</p>

<p>
  <strong>T sharks:</strong>
  <%= @all_shark.t_sharks %>
</p>

<%= link_to 'Edit', edit_all_shark_path(@all_shark) %> |
<%= link_to 'Back', all_sharks_path %>
